<app-popup
    title="Theme Export"
    [height]="450"
    #popup
>
    <div class="indicator">
        <div class="line"></div>
        <div class="indicator-item"
            *ngFor="let step of ['Choose Format']; index as i; last as isLast; first as isFirst"
            [ngClass]="{ 'active': viewIndex === i, 'done': viewIndex > i }"
        >
            <div class="circle" (click)="changeStep(i)"></div>
            <div class="item-text">
                <span (click)="changeStep(i)">{{step}}</span>
            </div>
        </div>
    </div>

    <div class="view-wrapper">
        <div class="views-container" [ngClass]="'view-' + viewIndex">
            <div class="view" [ngClass]="{'hide-content': copyAreaActive}">
                <!--<div>
                    <div class="export-text">Export CSS</div>
                    <div class="tooltip-container export">
                        <app-help-tooltip>
                            Download theme as&nbsp;a&nbsp;CSS file,<br>
                            a&nbsp;ZIP archive (includes this file and icons),<br>
                            or&nbsp;simply copy the theme styles.
                        </app-help-tooltip>
                    </div>
                </div>
                <div class="buttons-container">
                    <button class="button" [disabled]="!contentReady" (click)="exportCss(true)">
                        <div class="button-icon">
                            <app-button-icon name="download"></app-button-icon>
                        </div>
                        <div class="button-text">
                            Download<br>
                            CSS File
                        </div>
                    </button>
                    <button class="button" [disabled]="!contentReady" (click)="exportZip()">
                        <div class="button-icon">
                            <app-button-icon name="zip"></app-button-icon>
                        </div>
                        <div class="button-text">
                            Download<br>
                            ZIP Archive
                        </div>
                    </button>
                    <button class="button" [disabled]="!contentReady" (click)="needMeta = false;copy()">
                        <div class="button-icon">
                            <app-button-icon name="copy-css"></app-button-icon>
                        </div>
                        <div class="button-text">Copy CSS</div>
                    </button>
                </div>-->

                <div>
                    <div class="export-text">Export Metadata</div>
                    <div class="tooltip-container export">
                        <app-help-tooltip>
                            Metadata is&nbsp;a&nbsp;JSON object that describes a&nbsp;theme.<br>
                            You can copy the metadata or&nbsp;download it&nbsp;as&nbsp;a&nbsp;JSON file.
                        </app-help-tooltip>
                    </div>
                </div>
                <div class="buttons-container">
                    <button class="button" [disabled]="!contentReady" (click)="exportMeta(true)">
                        <div class="button-icon">
                            <app-button-icon name="download"></app-button-icon>
                        </div>
                        <div class="button-text">
                            Download<br>
                            Metadata File
                        </div>
                    </button>
                    <button class="button" [disabled]="!contentReady" (click)="needMeta = true;copy()">
                        <div class="button-icon">
                            <app-button-icon name="copy-meta"></app-button-icon>
                        </div>
                        <div class="button-text">
                            Copy<br>
                            Metadata
                        </div>
                    </button>
                    <div class="export-loading" [ngClass]="{'hidden': contentReady}">
                        <app-icon-loading></app-icon-loading>
                        <div>Please wait.</div>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="copy-area" [ngClass]="{'hidden': !copyAreaActive}">
        <div class="copy-text">Copy {{ needMeta ? 'Metadata' : 'CSS' }}</div>
        <div class="close-button" (click)="copyAreaActive = false">
            <i class="dx-icon-arrowdown"></i>
        </div>
        <dx-text-area
            [height]="166"
            [value]="textContent"
            [readOnly]="true"
        ></dx-text-area>
        
    </div>
</app-popup>
