<app-popup
    title="Theme Export"
    [height]="462"
    #popup
>
    <div class="view-wrapper">
        <div class="views-container" [ngClass]="'view-' + viewIndex">
            <div class="view" [ngClass]="{'hide-content': copyAreaActive}">
                <div class="export-text">
                    Color Scheme Name
                    <div class="tooltip-container">
                        <app-help-tooltip>The name can contain letters, digits, and hyphens.</app-help-tooltip>
                    </div>
                </div>
                <div class="scheme-name">
                    <dx-text-box [(value)]="schemeName"
                                 valueChangeEvent="keyup"
                                 stylingMode="outlined">
                        <dx-validator>
                            <dxi-validation-rule type="pattern"
                                                 pattern="^[\w-_]*$"
                                                 message="Only alphabetic and numeric characters, underscores and hyphens are allowed.">
                            </dxi-validation-rule>
                            <dxi-validation-rule type="required"
                                                 message="Color scheme name is required.">
                            </dxi-validation-rule>
                        </dx-validator>
                    </dx-text-box>
                </div>

                <div class="export-label">
                    <div class="export-text export-text-metadata">Export Metadata</div>
                    <div class="tooltip-container export">
                        <app-help-tooltip>
                            Metadata is&nbsp;a&nbsp;JSON object that describes a&nbsp;theme.<br>
                            You can copy the metadata or&nbsp;download it&nbsp;as&nbsp;a&nbsp;JSON file.
                        </app-help-tooltip>
                    </div>
                </div>
                <div class="buttons-container export-buttons">
                    <button class="button export-popup-button" [disabled]="!contentReady" (click)="exportMeta(true)">
                        <div class="button-icon">
                            <app-button-icon name="download"></app-button-icon>
                        </div>
                        <div class="button-text">
                            Download<br>
                            Metadata File
                        </div>
                    </button>
                    <button class="button export-popup-button" [disabled]="!contentReady" (click)="needMeta = true;copy()">
                        <div class="button-icon">
                            <app-button-icon name="copy-meta"></app-button-icon>
                        </div>
                        <div class="button-text">
                            Copy<br>
                            Metadata
                        </div>
                    </button>
                    <div class="export-loading" [ngClass]="{'hidden': contentReady}">
                        <app-icon-loading></app-icon-loading>
                        <div>Please wait.</div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-area" [ngClass]="{'hidden': !copyAreaActive}">
        <div class="copy-text">Copy {{ needMeta ? 'Metadata' : 'CSS' }}</div>
        <div class="close-button" (click)="copyAreaActive = false">
            <i class="dx-icon-arrowdown"></i>
        </div>
        <dx-text-area
            [height]="166"
            [value]="textContent"
            [readOnly]="true"
        ></dx-text-area>

    </div>
</app-popup>
